
.division2{
   max-height: 84vh;
   overflow: hidden;
}

/* home */
.Thebackground> *{
   position: absolute;
}

.Thebackground{
   inset: 0;
   background-image: linear-gradient(rgba(0, 0, 0, 0.478) 75%, rgb(0, 0, 0));
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   height: 80vh;
   max-width: 1067px;
}
.BGmap{
   position: relative;
   filter: blur(2px);
   mix-blend-mode: overlay;
   height: 100vh;
   z-index: 1;
}
.Thebackground>div>.ico{ 
   text-shadow:2px 2px 4px  rgb(55, 55, 55) ;
 }
.location1{
   margin-top: 8%;  margin-left: 9%;  
   scale: 1.2;
}
.location2{
   margin-top: 34%;  margin-left: 28%; 
   scale:1.4;
}
.location3{
   margin-top: 22.3%;  margin-left: 26%; 
   scale:1.2;
}
.location4{
   margin-top: 20%;  margin-left: 33%; 
   scale:1.4;
}
.location5{
   margin-top: 25%;  margin-left: 30%; 
   scale:1.2;
}
.location6{
   margin-top: 34%;  margin-left: 25%; 
   scale:1;
}
.location7{
   margin-top: 8%;  margin-left: 16%;  
   scale: 1.1;
}
/* .location1, .location2, .location3, .location4, .location5, .location6, .location7{
   color: antiquewhite;
   transition: 0.3s ease-in-out;
}
.location1:hover,.location2:hover,
.location3:hover,.location4:hover,.location5:hover,.location6:hover,.location7:hover
   {  color:rgb(249, 191, 116);  } */
